body{
    background-image: url('images/2c1043bc002852d8ad422035b1469b64.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-main{
    background-color: rgb(212, 78, 78);
    border-bottom: 3px solid rgb(76, 7, 7);
    position: fixed;
    top: 0rem;
    left: 0rem;
    width: 120vw;
    height: 120px;
    z-index: 2;
    display: flex;
    padding: 0;
    margin: 0;
}
.logo{
    width: 100px;
    padding: 5px;

}
.navbar{
    justify-content: flex-end;
    align-items: flex-end;
}
.title{
    color: gold;
    font-weight: bolder;
    justify-self: flex-end;
    align-self: center;
}
.login{
    padding: 3px;
    margin: 8px;
    align-self: center;
    display: flex;
    flex-direction: column;
}
.content{
    background-color: rgb(212, 78, 78);
    width: 450px;
    height: 400px;
    border-radius: 15px;
    display: flex;
    flex-flow: column nowrap;
}
.buttons{
    background-color: rgb(149, 47, 47);
    width: 96.5%;
    height: 10%;
    padding: 8px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom: 3px solid rgb(76, 7, 7);
    display: flex;
    justify-self: center;
    align-self: flex-start;
    justify-content: center;
    align-items: flex-start;
}
.button{
    margin: 4px;
    padding: 8px;
    text-align: center;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 5px;
    background-color: rgb(212, 78, 78);
    color: gold;
    border-style: none;
    border-bottom: 3px solid rgb(58, 17, 17);
}
.button:hover{
    background-color: rgb(58, 17, 17);
    border-bottom: 3px solid rgb(212, 78, 78);
}
.button:active{
    background-color: gold;
    color: rgb(58, 17, 17);
    border-bottom: 3px solid rgb(212, 78, 78);
}
.main-content{
    width: 400px;
    height: 300px;
    padding-top: 10px;
    align-self:center;
    justify-self: center;
    background-image: url('images/backgroundimage.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}